name: stack
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^4.2.1
  firebase_messaging: ^16.0.4
  dio: ^5.9.0
  google_fonts: ^6.3.2
  get_storage: ^2.1.1
  flutter_svg: ^2.2.2
  fluttertoast: ^9.0.0
  flutter_dotenv: ^6.0.0
  permission_handler: ^12.0.1
  awesome_notifications: ^0.10.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - .env
